.App {
  overflow: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.a-block {
  display: block;
  position: relative;
  height: 400px;
}

/* header */

header {
  position: fixed;
  top: 0;
  padding-top: 1em;
  background-color: var(--black);
  z-index: 99;
  box-shadow: 0 1em 1em 1em var(--black);
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.logo-svg{
  width: 3rem;
  overflow: visible;
  stroke: #fff;
}


.header-logo {
  position: relative;
  display: block;
  top: -0.5em;
  color: var(--purple);
  justify-self: flex-start;
}

/* nav */

nav {
  display: inline-block;
  font-size: 1.25rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

nav ul li {
  margin: 0 0.75rem;
}

li .fa {
  font-size: 1.25rem;
  margin: 0 0.75em;
}

nav a {
  color: rgb(220, 226, 235);
  transition: 0.5s ease;
}

nav ul li:hover>a {
  color: var(--purple);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label, .nav-toggle-label::before, .nav-toggle-label::after {
  display: none;
}

.nav-canvas {
  display: none;
}

/* main container */

.main-container {
  display: block;
  position: relative;
  padding-left: 20%;
  top: 20rem;
  height: fit-content;
  margin-bottom: 450px;
}

/* the line */

.ball-line {
  display: block;
  position: relative;
  left: -5em;
  top: 5em;
}

.the-ball {
  display: block;
  position: fixed;
  width: 0.625em;
  height: 0.625em;
  border-radius: 100%;
  background: var(--purple);
  box-shadow: none;
  transition: 1s ease;
  z-index: 999;
  animation: 1.5s ballgradient ease-in-out infinite;
}


.the-line {
  display: block;
  position: fixed;
  width: 0.0625em;
  min-height: 100vh;
  background: linear-gradient(var(--purple), var(--black));
  margin-left: 4px;
  z-index: 99;
}

/* title */

.title {
  display: block;
  position: relative;
  text-align: left;
  width: 80%;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 2em;
  background-size: cover;
  background: var(--black);
  max-height: 90vh;
  overflow-y: auto;
}

.title-canvas {
  background-color: var(--black);
  width: 10000px;
  height: 10000px;
  display: none;
  position: absolute;
  overflow: hidden;
}

.first-title {
  display: block;
  position: relative;
  text-align: left;
  width: 80%;
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: none;
  border-radius: none;
}

.span-1, .span-2 {
  transform: scale(1);
  font-size: 3em;
}

.title .span-1 {
  color: rgb(220, 226, 235);
}

.title .span-2 {
  color: var(--purple);
}

.title-item {
  margin: 0.3em 0;
}

.title-location, .title-time {
  display: inline-block;
  font-size: 1.25em;
  color: var(--purple);
}

.title-what {
  font-size: 1.5em;
  color: gray;
}

.more-btn {
  background: transparent;
  font-family: var(--mono);
  font-size: 1.25em;
  border: none;
  color: #682ae9;
  cursor: pointer;
  margin: 1em;
  transition: 0.3s ease;
}

.title-arrow-more, .title-arrow-back {
  position: relative;
  color: #682ae9;
  transition: 0.5s ease;
}

.more-btn:hover {
  color: var(--white);
}

.more-btn:hover~.title-arrow-more {
  animation: 0.5s bounce-more ease-in-out infinite;
  color: var(--white);
}

.more-btn:hover~.title-arrow-back {
  animation: 0.5s bounce-back ease-in-out infinite;
  color: var(--white);
}

.space-block {
  position: relative;
  height: 200px;
  background: transparent;
}

/* intern description */
.intern-des {
  color: var(--lightwhite);
  font-size: 1.5em;
  list-style-type: none;
  width: 80%;
  padding: 0;
}

.intern-des li{
  margin: 5px 0;
}

/* footer */

footer {
  text-align: center;
  position: relative;
}

footer p {
  color: lightsteelblue;
  font-size: 1.25em;
}

/* fa */

.fa {
  color: var(--purple);
  font-size: 1.5em;
  margin: 0 1.25em;
  transition: 0.5s ease;
}

.fa:hover {
  color: var(--white);
}

/* form */

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2fr 1fr;
  border-radius: 1em;
  font-size: 1.5em;
  color: var(--purple)
}

.form-item {
  text-align: left;
  margin: 0.5em 1em;
}

.form-item input, .form-item textarea, form button {
  width: 100%;
  height: 2em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  background: cyan;
  font-family: var(--mono);
  font-size: 1em;
  justify-content: start;
}

.form-item textarea {
  height: 80%;
  width: 100%;
  resize: none;
}

.form-label {
  justify-self: start;
}

.form-name {
  grid-column: 1/3;
}

.form-email {
  grid-column: 3/5;
}

.form-submit {
  grid-column: 1/5;
}

.form-subject, .form-message, .form-submit {
  grid-column: 1/5;
}

#form-submit {
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
  background: var(--purple);
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  transition: 0.8s ease;
}
.intern-wrap{
  margin: 0 2em;
}
.inter-picker-wrap{
  height: 2em;
}
.inter-picker-wrap input {
  display: none;
}
.intern-picker{
  font-family: var(--mono);
  font-size: 1em;
  margin: 0 1em;
  padding: 1em;
  color: var(--white);
  border-radius: 0.5em;
  cursor: pointer;
}
#form-submit:hover {
  background: var(--white);
}

@media (max-width: 800px) {
  .App {
    font-size: 12px;
  }
  body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 100%;
  }
  .main-container {
    padding-left: 15%;
  }

  nav {
    all: unset;
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0;
    top: 40px;
    text-align: right;
    font-size: 2em;
    transform-origin: right;
    transform: translateX(50%);
    transition: 0.8s ease;
    z-index: 999999;
  }
  .nav-canvas {
    display: block;
    position: fixed;
    width: 100000px;
    height: 100000px;
    background: black;
    opacity: 0;
    z-index: 0;
    right: -1000000px;
  }
  nav .fa {
    font-size: 1em;
    margin-right: 0;
  }
  nav ul {
    all: unset;
    list-style-type: none;
  }
  nav ul li {
    margin: 0.5em 0.5em;
    margin-left: 1em;
  }
  .nav-toggle-label {
    display: flex;
    align-items: center;
    z-index: 999999;
  }
  .nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    position: relative;
    display: block;
    background: var(--white);
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    transition: 0.8s ease;
    right: 0;
  }
  .nav-toggle-label span::before, .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }
  .ball-line {
    display: block;
    position: relative;
    left: -2em;
    top: 5em;
  }
  .nav-toggle:checked~nav {
    transform: translateX(0);
  }
  .nav-toggle:checked~.nav-toggle-label span::before {
    width: 0.5em;
  }
  .nav-toggle:checked~.nav-toggle-label span {
    width: 1em;
  }
  .nav-toggle:checked~.nav-toggle-label span::after {
    width: 1.5em;
  }
  .nav-toggle:checked~.nav-canvas {
    right: 0;
    opacity: 0.8;
    z-index: 99999;
  }
  .span-1, .span-2 {
    font-size: 2em;
  }
  form {
    width: 100%;
    display: block;
    font-size: 1.25em;
  }
  .form-item {
    text-align: left;
    margin: 0.5em 1em;
    margin-left: 0;
  }
  .title {
    width: 90%;
  }
}

/* animation keyframe */

@keyframes bounce-more {
  from {
    left: 0;
  }
  to {
    left: 2em;
  }
}

@keyframes bounce-back {
  from {
    left: 2em;
  }
  to {
    left: 0;
  }
}

@keyframes ballgradient {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 15px 10px rgba(131, 114, 206, 0.8);
  }
  100% {
    box-shadow: none;
  }
}


