*{
  box-sizing: border-box;
}

:root {
  --black: rgb(12, 12, 12);
  --purple: blue;
  --white: #fff;
  --lightwhite: rgb(220, 226, 235);
  --mono: 'Roboto Mono', monospace;
}

html {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  background-color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
